*{
    background-color: black;
    color: white;
}

.heading{
    text-align: center;
    font-size: 60px;
    font-family: brush script mt;
    text-decoration: underline;
}

.quote{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.quote:hover{
    cursor: pointer;
}